.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  background-color: ivory;
}

.branding {
  font-size: 2rem;
  color: red;
}

.menu {
  position: absolute;
  margin-top: 4rem;
  left: -100%;
}
.menu-button,
.search-button {
  position: absolute;
  display: flex;
  align-items: center;
}

.menu-button {
  left: 1rem;
}

.active-menu {
  left: 0;
}
.search-button {
  right: 1rem;
}

.inactive {
  display: none;
}
