.footer {
  display: grid;
  grid-template-rows: auto;
  background-color: #111;
  color: #f8f5fa;
  min-height: 10rem;
  padding: 1rem 1.5rem;
  gap: 1rem;
  font-family: var(--font-roboto);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.25rem;
  padding-left: 1rem;
}

.link-button {
  display: flex;
  text-align: left;
  width: fit-content;
  padding: 0.5rem 0;
  color: #7e7e7e;
}
