.policies-container {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  line-height: 1.6;
}

.policy-text,
.policy-heading {
  font-size: 0.75rem;
  font-weight: 300;
}

.policy-heading {
  font-weight: 700;
}

.policy-text {
  padding: 0 0.5rem;
}
